In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [1]:
# df = pd.read_csv('pp_data_train.csv')
# df.head()

In [4]:
# define some help functions
#1. encode categorical features (~)
#2. calcualte datetime difference function (~)
#3. groupby function
#4. groupby train_test_split
#5. ensembling function

In [5]:
def encode_cat(cat, encoding):
    return cat.map(encoding)

In [7]:
#encode the response 'injury'

encoding = {'Unharmed': 0, 'Possible': 1, 'Minor': 2, 'Major': 3, 'Fatal': 4}

y_encoded = encode_cat(df['injury'], encoding)
print(y_encoded.head())

0    3
1    4
2    1
3    0
4    4
Name: injury, dtype: int64

In [2]:
# df.T

In [3]:
# observe the missing value rate

# for col in df.columns:
#     print('column name: ', col)
#     print(df.loc[:,col].isnull().sum()/len(df))

In [4]:
# df.columns.values

In [5]:
# test dataset

# df_2 = pd.read_csv('pp_data_all.csv')
# df_2.head()

In [6]:
# for col in df_2.columns:
#     print('column name: ', col)
#     print(df_2.loc[:,col].isnull().sum()/len(df_2))
#     print('\n')

In [23]:
print(df.shape)
print(df_2.shape)

(145063, 65)
(289671, 64)

In [28]:
df['inc_datetime'] = pd.to_datetime(df['inc_datetime'], infer_datetime_format = True)

In [31]:
df['veh_year'] = pd.to_datetime(df['veh_year'], infer_datetime_format = True)

In [7]:
# creat a new feature: veh_age_2 = veh_age_2 = inc_datetime - veh_year (in month)

# df['veh_age_2'] = (df['inc_datetime'] - df['veh_year'])/np.timedelta64(1, 'M')
# df['veh_age_2']

In [8]:
# df['drv_ban1_mo'].value_counts(dropna = False)/len(df)

In [9]:
# df['drv_ban1_mo'].value_counts(dropna = False)

In [10]:
# df['drv_ban2_mo'].value_counts()/len(df)

In [11]:
# df['drv_ban1_yr'].value_counts()/len(df)

In [12]:
# df['drv_ban2_yr'].value_counts()/len(df)

In [84]:
encoding_month = {'Jan.': 1, 'Feb.': 2, 'Mar.': 3, 'Apr.': 4, 'May': 5, 'June': 6, 'July': 7,
                 'Aug.': 8, 'Sept.': 9, 'Oct.': 10, 'Nov.': 11, 'Dec.': 12, 'No record': np.nan, 'unknown': np.nan}

In [13]:
# df.loc[df['drv_ban1_mo'] == 'Dec.', 'drv_ban1_mo'].head()

In [14]:
# encoded_month_ban1 = encode_cat(df['drv_ban1_mo'], encoding_month)
# encoded_month_ban1.head()

In [113]:
#encoded_month_ban1 = pd.to_datetime(encoded_month_ban1, infer_datetime_format = True)
#encoded_month_ban1.head()

In [89]:
df['drv_ban1_mo'].head()

0    No record
1    No record
2    No record
3    No record
4         Mar.
Name: drv_ban1_mo, dtype: object

In [87]:
encoded_month_ban1.value_counts(dropna = False)

NaN      83987
 7.0      5406
 3.0      5368
 8.0      5328
 10.0     5278
 5.0      5218
 9.0      5184
 1.0      5031
 6.0      5028
 4.0      4885
 2.0      4829
 11.0     4789
 12.0     4732
Name: drv_ban1_mo, dtype: int64

In [119]:
encoded_month_ban2 = encode_cat(df['drv_ban2_mo'], encoding_month)
encoded_month_ban2.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    3.0
Name: drv_ban2_mo, dtype: float64

In [74]:
df['drv_ban1_yr'].value_counts(dropna = False)

No record    81259
2009         13486
2010         13458
2011         10695
2008          8414
2012          7236
2013          4329
unknown       2725
2007          2110
2014          1351
Name: drv_ban1_yr, dtype: int64

In [90]:
encoding_year = {'2007': 2007, '2008': 2008, '2009': 2009, '2010': 2010, '2011': 2011, '2012': 2012, '2013': 2013,
                 '2014': 2014, 'No record': np.nan, 'unknown': np.nan}

In [120]:
encoded_year_ban1 = encode_cat(df['drv_ban1_yr'], encoding_year)
encoded_year_ban1.head()

0       NaN
1       NaN
2       NaN
3       NaN
4    2009.0
Name: drv_ban1_yr, dtype: float64

In [114]:
#encoded_year_ban1 = pd.to_datetime(encoded_year_ban1, infer_datetime_format = True)
#encoded_year_ban1.head()

In [121]:
encoded_year_ban2 = encode_cat(df['drv_ban2_yr'], encoding_year)
#encoded_year_ban2 = pd.to_datetime(encoded_year_ban2, infer_datetime_format = True)
encoded_year_ban2.head()

0       NaN
1       NaN
2       NaN
3       NaN
4    2009.0
Name: drv_ban2_yr, dtype: float64

In [116]:
#drv_ban1_date = encoded_year_ban1.astype(str) + '-' + encoded_month_ban1.astype(str)
#drv_ban1_date.head()

In [117]:
#drv_ban1_date[drv_ban1_date == 'nan-nan'] = np.nan

In [98]:
drv_ban1_date.head()

0           NaN
1           NaN
2           NaN
3           NaN
4    2009.0-3.0
dtype: object

In [99]:
pd.to_datetime(drv_ban1_date, infer_datetime_format = True).head()

ValueError: ('Unknown string format:', '2009.0-3.0')

In [100]:
pd.to_datetime(drv_ban1_date).head()

ValueError: ('Unknown string format:', '2009.0-3.0')

In [101]:
df['inc_datetime'].head()

0   2013-09-19 10:15:00
1   2013-09-19 10:15:00
2   2011-07-23 03:00:00
3   2011-07-23 03:00:00
4   2011-07-23 03:00:00
Name: inc_datetime, dtype: datetime64[ns]

In [15]:
# df_3 = pd.DataFrame({'Year': encoded_year_ban1, 'Month': encoded_month_ban1})
# df_3.head()

In [124]:
df_3['Day'] = 1

In [131]:
df_3 = pd.to_datetime(df_3)
df_3.head()

0          NaT
1          NaT
2          NaT
3          NaT
4   2009-03-01
dtype: datetime64[ns]

In [16]:
# df_4 = pd.DataFrame({'Year': encoded_year_ban2, 'Month': encoded_month_ban2, 'Day': 1})
# df_4.head()

In [162]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145063 entries, 0 to 145062
Data columns (total 3 columns):
Year     61080 non-null float64
Month    61079 non-null float64
Day      145063 non-null int64
dtypes: float64(2), int64(1)
memory usage: 3.3 MB

In [163]:
pd.to_datetime(df_4.Year*10000+df_4.Month*100+df_4.Day, format = "%Y%m%d")

0               NaT
1               NaT
2               NaT
3               NaT
4        2009-03-01
5               NaT
6               NaT
7        2010-08-01
8        2010-08-01
9               NaT
10              NaT
11              NaT
12              NaT
13              NaT
14              NaT
15              NaT
16       2010-09-01
17       2011-11-01
18              NaT
19              NaT
20              NaT
21       2013-08-01
22       2013-08-01
23       2010-10-01
24              NaT
25              NaT
26       2013-08-01
27       2013-08-01
28              NaT
29              NaT
            ...
145033          NaT
145034          NaT
145035   2010-01-01
145036   2010-07-01
145037   2010-10-01
145038   2010-10-01
145039          NaT
145040   2013-03-01
145041   2013-03-01
145042   2013-03-01
145043          NaT
145044   2014-08-01
145045   2009-03-01
145046   2009-03-01
145047   2011-09-01
145048   2008-11-01
145049   2009-06-01
145050   2013-10-01
145051   2011-04-01
145052   2011-04-01
145053   2008-08-01
145054          NaT
145055          NaT
145056   2012-05-01
145057   2012-05-01
145058   2009-03-01
145059          NaT
145060          NaT
145061   2013-05-01
145062   2011-10-01
Length: 145063, dtype: datetime64[ns]

In [133]:
df_4 = pd.to_datetime(df_4)
df_4.head()

0          NaT
1          NaT
2          NaT
3          NaT
4   2009-03-01
dtype: datetime64[ns]

In [134]:
drv_ban1 = (df['inc_datetime'] - df_3)/np.timedelta64(1, 'M')
drv_ban1.head()

0          NaN
1          NaN
2          NaN
3          NaN
4    28.719276
dtype: float64

In [135]:
drv_ban2 = (df['inc_datetime'] - df_4)/np.timedelta64(1, 'M')
drv_ban2.head()

0          NaN
1          NaN
2          NaN
3          NaN
4    28.719276
dtype: float64

In [138]:
df_3.tail()

145058   2009-03-01
145059          NaT
145060          NaT
145061   2011-10-01
145062   2009-07-01
dtype: datetime64[ns]

In [139]:
df_4.tail()

145058   2009-03-01
145059          NaT
145060          NaT
145061   2013-05-01
145062   2011-10-01
dtype: datetime64[ns]

In [140]:
#identify the group effect

In [17]:
# df[df['occ_role'] == 'Not-in-transit']

In [18]:
# df_5 = df[df['occ_role'] == 'Driver']
# df_5

In [19]:
# df_5.loc[:, ['incident_id', 'occ_sex', 'occ_age', 'occ_role']]

In [20]:
# df_5.groupby('incident_id')['occ_age'].mean()

In [21]:
# df_5.groupby('incident_id')['occ_age'].max()

In [22]:
# df_5.groupby('incident_id')['occ_age'].min()