In [1]:
import numpy as np
import pandas as pd

In [1]:
# df = pd.read_pickle('df_all_1.pkl')
# df.head()

In [14]:
# impute numeric variable with median

for col in df.select_dtypes(exclude = ['object']).columns:
    df[col].fillna(df[col].median(), inplace = True)

In [2]:
# df.select_dtypes(exclude = ['object']).head()

In [3]:
# df.head()

In [4]:
# for col in df.columns:
#     print('Column name: ', col)
#     print(df[col].isnull().sum())

In [19]:
df['veh_type'].value_counts(dropna = False)

Truck            226383
Passenger Car    164808
Motorcycle        33645
NaN                9898
Name: veh_type, dtype: int64

In [25]:
df['veh_type'].value_counts(dropna = False).index.tolist()[0]

'Truck'

In [27]:
for col in df.select_dtypes(include = ['object']).columns:
    df[col].fillna(df[col].value_counts().index.tolist()[0], inplace = True)

In [5]:
# for col in df.select_dtypes(include = ['object']).columns:
#     print('column name: ', col)
#     print(df[col].isnull().sum())

In [29]:
df.to_pickle('df_all_4.pkl')

In [6]:
# df.head()

In [7]:
# df_2 = df.drop(['mod_lb'], axis = 1).copy()
# df_2.head()

In [32]:
df_2 = pd.get_dummies(df_2)
df_2.shape

(434734, 307)

In [8]:
# df_2.columns.values

In [35]:
df_2.shape

(434734, 307)

In [36]:
df_new = pd.concat([df_2, df['mod_lb']], axis = 1)
df_new.shape

(434734, 308)

In [9]:
# df_new.tail()

In [38]:
df_new.to_pickle('df_all_5.pkl')

In [41]:
# split the dataset into train and test

df_train = df_new.loc[df_new['mod_lb'] == 'train', :]
df_test = df_new.loc[df_new['mod_lb'] == 'test', : ]

In [10]:
# df_ck = df_new.loc[df_new['mod_lb'] == 'test', :]
# df_ck.head()

In [111]:
min(df_ck['row_id'])

1

In [112]:
max(df_ck['row_id'])

289671

In [113]:
df_ck.sort_values(by = ['row_id'], inplace = True)

C:\Users\LUY1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
# df_ck.head()

In [115]:
df_ck.shape

(289671, 308)

In [116]:
df_ck.drop(['mod_lb'], axis = 1, inplace = True)

C:\Users\LUY1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [12]:
# df_ck.head()

In [13]:
# df_ck.drop(['row_id', 'incident_id', 'vehicle_id', 'occupant_id'], axis = 1, inplace = True)
# df_ck.head()

In [122]:
df_ck.shape

(289671, 303)

In [43]:
df_train.drop(['mod_lb'], axis = 1, inplace = True)
df_test.drop(['mod_lb'], axis = 1, inplace = True)

C:\Users\LUY1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [45]:
print(df_train.shape)
print(df_test.shape)

(145063, 307)
(289671, 307)

In [46]:
from sklearn.model_selection import train_test_split

index_train, index_valid = train_test_split(df_train['incident_id'], test_size = 0.2, random_state = 123)

In [48]:
df_train.set_index(['incident_id'], inplace = True)

In [14]:
# df_train.head()

In [51]:
print(max(index_train))
print(min(index_train))

128188
2

In [52]:
print(max(index_valid))
print(min(index_valid))

128186
4

In [54]:
print(max(df_train.index))
print(min(df_train.index))

128188
2

In [15]:
# df_train.loc[2]

In [58]:
X_train = df_train.loc[index_train]
X_valid = df_train.loc[index_valid]

In [60]:
X_train.reset_index(inplace = True)
X_valid.reset_index(inplace = True)

In [16]:
# X_train.head()

In [62]:
# y = pd.read_pickle('y_resp.pkl')
# y.head()

   row_id  incident_id  vehicle_id  occupant_id  injury
0       2            2           1            1       3
1       3            2           1            2       4
2      10            4           1            1       1
3      11            4           1            2       0
4      12            4           2            1       4

In [63]:
y.set_index(['incident_id'], inplace = True)

In [64]:
y_train = y.loc[index_train]
y_valid = y.loc[index_valid]

In [66]:
y_train.reset_index(inplace = True)
y_valid.reset_index(inplace = True)

In [68]:
print(X_train.shape)
print(X_valid.shape)
print(y_train.shape)
print(y_valid.shape)

(434047, 307)
(107890, 307)
(434047, 5)
(107890, 5)

In [69]:
X_train.drop(['row_id', 'incident_id', 'vehicle_id', 'occupant_id'], axis = 1, inplace = True)
X_valid.drop(['row_id', 'incident_id', 'vehicle_id', 'occupant_id'], axis = 1, inplace = True)
y_train.drop(['row_id', 'incident_id', 'vehicle_id', 'occupant_id'], axis = 1, inplace = True)
y_valid.drop(['row_id', 'incident_id', 'vehicle_id', 'occupant_id'], axis = 1, inplace = True)

C:\Users\LUY1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [119]:
print(X_train.shape)

(434047, 303)

In [120]:
print(X_valid.shape)

(107890, 303)

In [70]:
# fit lightgbm models 1. without identifing categorical features 2. identifing categorical features

In [71]:
X_train.columns

Index(['total_veh_in_inc', 'total_occ_in_inc', 'total_occ_in_veh',
       'actual_veh_in_inc', 'actual_per_in_inc', 'actual_occ_in_veh',
       'actual_ped', 'inc_region', 'veh_lanes', 'veh_speedlim',
       ...
       'veh_descrip_Instability', 'veh_descrip_Non-collision',
       'veh_descrip_Non-roadway', 'veh_descrip_Pothole', 'veh_descrip_unknown',
       'veh_damage_Disabling', 'veh_damage_Minor', 'veh_damage_Moderate',
       'veh_damage_No damage', 'veh_damage_unknown'],
      dtype='object', length=303)

In [72]:
import lightgbm as lgb

lgbtrain = lgb.Dataset(X_train, label = y_train)
lgbvalid = lgb.Dataset(X_valid, label = y_valid)

In [98]:
params_1 = {'objective': 'multiclass',
          'num_class': 5,
         'metric': 'multi_logloss',
         'num_leaves': 31,
          'max_depth': 7,
         'learning_rate': 0.05,
         'feature_fraction': 0.9,
         'bagging_fraction': 0.8,
         'bagging_freq': 5,
         'verbose': 1}

In [102]:
watchlist = [ (lgbtrain,'train'), (lgbvalid, 'valid')]

In [103]:
watchlist

[(<lightgbm.basic.Dataset at 0x1a81b828>, 'train'),
 (<lightgbm.basic.Dataset at 0x14df95f8>, 'valid')]

In [109]:
mod_lgb_1 = lgb.train(params = params_1,
                   train_set = lgbtrain,
                   num_boost_round = 5000,
                   valid_sets = [lgbtrain, lgbvalid],
                  #watchlist = watchlist,
                   early_stopping_rounds = 50,
                   verbose_eval = 40)

Training until validation scores don't improve for 50 rounds.
[40]	training's multi_logloss: 1.15174	valid_1's multi_logloss: 1.15649
[80]	training's multi_logloss: 1.06096	valid_1's multi_logloss: 1.06939
[120]	training's multi_logloss: 1.01252	valid_1's multi_logloss: 1.02447
[160]	training's multi_logloss: 0.98008	valid_1's multi_logloss: 0.995008
[200]	training's multi_logloss: 0.954935	valid_1's multi_logloss: 0.972002
[240]	training's multi_logloss: 0.934455	valid_1's multi_logloss: 0.953592
[280]	training's multi_logloss: 0.916474	valid_1's multi_logloss: 0.937775
[320]	training's multi_logloss: 0.901248	valid_1's multi_logloss: 0.924149
[360]	training's multi_logloss: 0.887311	valid_1's multi_logloss: 0.911604
[400]	training's multi_logloss: 0.874357	valid_1's multi_logloss: 0.900089
[440]	training's multi_logloss: 0.862734	valid_1's multi_logloss: 0.889998
[480]	training's multi_logloss: 0.851488	valid_1's multi_logloss: 0.879941
[520]	training's multi_logloss: 0.840846	valid_1's multi_logloss: 0.870831
[560]	training's multi_logloss: 0.830604	valid_1's multi_logloss: 0.861775
[600]	training's multi_logloss: 0.821443	valid_1's multi_logloss: 0.853861
[640]	training's multi_logloss: 0.812209	valid_1's multi_logloss: 0.845647
[680]	training's multi_logloss: 0.803443	valid_1's multi_logloss: 0.837874
[720]	training's multi_logloss: 0.795148	valid_1's multi_logloss: 0.830483
[760]	training's multi_logloss: 0.787057	valid_1's multi_logloss: 0.823259
[800]	training's multi_logloss: 0.778862	valid_1's multi_logloss: 0.815998
[840]	training's multi_logloss: 0.771056	valid_1's multi_logloss: 0.809332
[880]	training's multi_logloss: 0.763481	valid_1's multi_logloss: 0.802724
[920]	training's multi_logloss: 0.756008	valid_1's multi_logloss: 0.796089
[960]	training's multi_logloss: 0.748845	valid_1's multi_logloss: 0.789837
[1000]	training's multi_logloss: 0.741909	valid_1's multi_logloss: 0.783715
[1040]	training's multi_logloss: 0.734929	valid_1's multi_logloss: 0.777531
[1080]	training's multi_logloss: 0.728138	valid_1's multi_logloss: 0.771619
[1120]	training's multi_logloss: 0.721343	valid_1's multi_logloss: 0.765625
[1160]	training's multi_logloss: 0.714922	valid_1's multi_logloss: 0.759976
[1200]	training's multi_logloss: 0.708896	valid_1's multi_logloss: 0.75472
[1240]	training's multi_logloss: 0.702377	valid_1's multi_logloss: 0.749049
[1280]	training's multi_logloss: 0.69622	valid_1's multi_logloss: 0.74377
[1320]	training's multi_logloss: 0.689665	valid_1's multi_logloss: 0.737962
[1360]	training's multi_logloss: 0.68371	valid_1's multi_logloss: 0.732772
[1400]	training's multi_logloss: 0.677948	valid_1's multi_logloss: 0.727668
[1440]	training's multi_logloss: 0.672522	valid_1's multi_logloss: 0.72294
[1480]	training's multi_logloss: 0.667074	valid_1's multi_logloss: 0.718099
[1520]	training's multi_logloss: 0.661708	valid_1's multi_logloss: 0.713348
[1560]	training's multi_logloss: 0.656527	valid_1's multi_logloss: 0.708769
[1600]	training's multi_logloss: 0.651203	valid_1's multi_logloss: 0.704063
[1640]	training's multi_logloss: 0.646354	valid_1's multi_logloss: 0.699913
[1680]	training's multi_logloss: 0.64132	valid_1's multi_logloss: 0.695435
[1720]	training's multi_logloss: 0.636401	valid_1's multi_logloss: 0.691145
[1760]	training's multi_logloss: 0.631284	valid_1's multi_logloss: 0.686481
[1800]	training's multi_logloss: 0.626635	valid_1's multi_logloss: 0.682303
[1840]	training's multi_logloss: 0.621731	valid_1's multi_logloss: 0.677979
[1880]	training's multi_logloss: 0.61706	valid_1's multi_logloss: 0.673863
[1920]	training's multi_logloss: 0.61229	valid_1's multi_logloss: 0.669643
[1960]	training's multi_logloss: 0.60762	valid_1's multi_logloss: 0.665445
[2000]	training's multi_logloss: 0.603117	valid_1's multi_logloss: 0.661481
[2040]	training's multi_logloss: 0.598504	valid_1's multi_logloss: 0.657323
[2080]	training's multi_logloss: 0.594124	valid_1's multi_logloss: 0.653368
[2120]	training's multi_logloss: 0.589734	valid_1's multi_logloss: 0.649509
[2160]	training's multi_logloss: 0.585589	valid_1's multi_logloss: 0.645875
[2200]	training's multi_logloss: 0.581532	valid_1's multi_logloss: 0.642239
[2240]	training's multi_logloss: 0.577407	valid_1's multi_logloss: 0.638552
[2280]	training's multi_logloss: 0.573189	valid_1's multi_logloss: 0.634665
[2320]	training's multi_logloss: 0.569188	valid_1's multi_logloss: 0.631051
[2360]	training's multi_logloss: 0.565236	valid_1's multi_logloss: 0.627435
[2400]	training's multi_logloss: 0.561184	valid_1's multi_logloss: 0.623807
[2440]	training's multi_logloss: 0.557076	valid_1's multi_logloss: 0.62009
[2480]	training's multi_logloss: 0.553203	valid_1's multi_logloss: 0.616604
[2520]	training's multi_logloss: 0.549531	valid_1's multi_logloss: 0.61334
[2560]	training's multi_logloss: 0.545735	valid_1's multi_logloss: 0.609926
[2600]	training's multi_logloss: 0.542016	valid_1's multi_logloss: 0.606529
[2640]	training's multi_logloss: 0.53824	valid_1's multi_logloss: 0.603028
[2680]	training's multi_logloss: 0.534604	valid_1's multi_logloss: 0.599684
[2720]	training's multi_logloss: 0.530917	valid_1's multi_logloss: 0.596352
[2760]	training's multi_logloss: 0.527282	valid_1's multi_logloss: 0.593088
[2800]	training's multi_logloss: 0.523707	valid_1's multi_logloss: 0.589784
[2840]	training's multi_logloss: 0.520066	valid_1's multi_logloss: 0.586568
[2880]	training's multi_logloss: 0.516723	valid_1's multi_logloss: 0.583556
[2920]	training's multi_logloss: 0.513211	valid_1's multi_logloss: 0.580308
[2960]	training's multi_logloss: 0.509843	valid_1's multi_logloss: 0.577307
[3000]	training's multi_logloss: 0.506619	valid_1's multi_logloss: 0.574323
[3040]	training's multi_logloss: 0.503139	valid_1's multi_logloss: 0.571198
[3080]	training's multi_logloss: 0.499695	valid_1's multi_logloss: 0.568089
[3120]	training's multi_logloss: 0.496392	valid_1's multi_logloss: 0.564995
[3160]	training's multi_logloss: 0.493214	valid_1's multi_logloss: 0.562161
[3200]	training's multi_logloss: 0.489791	valid_1's multi_logloss: 0.559013
[3240]	training's multi_logloss: 0.486586	valid_1's multi_logloss: 0.556061
[3280]	training's multi_logloss: 0.483557	valid_1's multi_logloss: 0.553274
[3320]	training's multi_logloss: 0.48062	valid_1's multi_logloss: 0.550504
[3360]	training's multi_logloss: 0.477498	valid_1's multi_logloss: 0.547675
[3400]	training's multi_logloss: 0.474593	valid_1's multi_logloss: 0.545051
[3440]	training's multi_logloss: 0.471593	valid_1's multi_logloss: 0.542369
[3480]	training's multi_logloss: 0.468379	valid_1's multi_logloss: 0.539416
[3520]	training's multi_logloss: 0.465339	valid_1's multi_logloss: 0.536596
[3560]	training's multi_logloss: 0.462259	valid_1's multi_logloss: 0.533709
[3600]	training's multi_logloss: 0.459388	valid_1's multi_logloss: 0.531078
[3640]	training's multi_logloss: 0.456531	valid_1's multi_logloss: 0.528389
[3680]	training's multi_logloss: 0.453627	valid_1's multi_logloss: 0.525728
[3720]	training's multi_logloss: 0.450878	valid_1's multi_logloss: 0.523181
[3760]	training's multi_logloss: 0.448143	valid_1's multi_logloss: 0.52065
[3800]	training's multi_logloss: 0.445255	valid_1's multi_logloss: 0.51798
[3840]	training's multi_logloss: 0.442457	valid_1's multi_logloss: 0.515421
[3880]	training's multi_logloss: 0.439529	valid_1's multi_logloss: 0.512732
[3920]	training's multi_logloss: 0.436832	valid_1's multi_logloss: 0.510143
[3960]	training's multi_logloss: 0.434013	valid_1's multi_logloss: 0.507554
[4000]	training's multi_logloss: 0.43132	valid_1's multi_logloss: 0.505035
[4040]	training's multi_logloss: 0.428664	valid_1's multi_logloss: 0.502585
[4080]	training's multi_logloss: 0.425887	valid_1's multi_logloss: 0.499977
[4120]	training's multi_logloss: 0.423257	valid_1's multi_logloss: 0.497543
[4160]	training's multi_logloss: 0.420697	valid_1's multi_logloss: 0.495141
[4200]	training's multi_logloss: 0.41791	valid_1's multi_logloss: 0.492539
[4240]	training's multi_logloss: 0.415255	valid_1's multi_logloss: 0.490092
[4280]	training's multi_logloss: 0.412799	valid_1's multi_logloss: 0.487805
[4320]	training's multi_logloss: 0.410285	valid_1's multi_logloss: 0.485465

[4360]	training's multi_logloss: 0.4077	valid_1's multi_logloss: 0.482954
[4400]	training's multi_logloss: 0.405164	valid_1's multi_logloss: 0.480539
[4440]	training's multi_logloss: 0.402662	valid_1's multi_logloss: 0.478208
[4480]	training's multi_logloss: 0.400213	valid_1's multi_logloss: 0.475847
[4520]	training's multi_logloss: 0.397764	valid_1's multi_logloss: 0.473495
[4560]	training's multi_logloss: 0.395414	valid_1's multi_logloss: 0.471245
[4600]	training's multi_logloss: 0.393018	valid_1's multi_logloss: 0.469052
[4640]	training's multi_logloss: 0.390676	valid_1's multi_logloss: 0.466869
[4680]	training's multi_logloss: 0.388268	valid_1's multi_logloss: 0.464573
[4720]	training's multi_logloss: 0.385851	valid_1's multi_logloss: 0.462331
[4760]	training's multi_logloss: 0.383419	valid_1's multi_logloss: 0.460013
[4800]	training's multi_logloss: 0.381061	valid_1's multi_logloss: 0.457786
[4840]	training's multi_logloss: 0.378799	valid_1's multi_logloss: 0.455636
[4880]	training's multi_logloss: 0.376568	valid_1's multi_logloss: 0.453552
[4920]	training's multi_logloss: 0.374424	valid_1's multi_logloss: 0.451457
[4960]	training's multi_logloss: 0.372296	valid_1's multi_logloss: 0.449466
[5000]	training's multi_logloss: 0.370033	valid_1's multi_logloss: 0.447345
Did not meet early stopping. Best iteration is:
[5000]	training's multi_logloss: 0.370033	valid_1's multi_logloss: 0.447345

In [ ]:
# prediction on test dataset

lgbtest = lgb.Dataset(df_test)

In [77]:
df_test.index

Int64Index([     2,      3,      7,      8,      9,     12,     13,     21,
                22,     23,
            ...
            434724, 434725, 434726, 434727, 434728, 434729, 434730, 434731,
            434732, 434733],
           dtype='int64', length=289671)

In [80]:
preds = pd.DataFrame(mod_lgb_1.predict(df_test), index = df_test.index)

In [82]:
df_test.head()

,row_id,incident_id,vehicle_id,occupant_id,total_veh_in_inc,total_occ_in_inc,total_occ_in_veh,actual_veh_in_inc,actual_per_in_inc,actual_occ_in_veh,...,veh_descrip_Instability,veh_descrip_Non-collision,veh_descrip_Non-roadway,veh_descrip_Pothole,veh_descrip_unknown,veh_damage_Disabling,veh_damage_Minor,veh_damage_Moderate,veh_damage_No damage,veh_damage_unknown
2,2,2,1,1,1.0,2.0,2.0,1.0,2.0,2.0,...,1,0,0,0,0,1,0,0,0,0
3,3,2,1,2,1.0,2.0,2.0,1.0,2.0,2.0,...,1,0,0,0,0,1,0,0,0,0
7,10,4,1,1,2.0,3.0,2.0,2.0,3.0,2.0,...,0,0,0,0,0,1,0,0,0,0
8,11,4,1,2,2.0,3.0,2.0,2.0,3.0,2.0,...,0,0,0,0,0,1,0,0,0,0
9,12,4,2,1,2.0,3.0,1.0,2.0,3.0,1.0,...,0,0,0,0,0,1,0,0,0,0

In [81]:
preds.head()

          0         1         2         3         4
2  0.059026  0.001156  0.000392  0.006370  0.933056
3  0.047536  0.005058  0.000589  0.534119  0.412697
7  0.979632  0.000764  0.000490  0.015284  0.003829
8  0.942916  0.000619  0.002883  0.006711  0.046871
9  0.177385  0.000685  0.210597  0.004106  0.607228

In [83]:
def class_col_name(n, encoding):
    """Convert class value into formatted column name."""
    inverse_encoder = {v: k for k, v in encoding.items()}
    name = inverse_encoder[n]
    return f'class_{name}'

In [84]:
encoding = {'Unharmed': 0, 'Possible': 1, 'Minor': 2, 'Major': 3, 'Fatal': 4}

In [85]:
preds = preds.rename(mapper = lambda x: class_col_name(x, encoding), axis = 1)
preds.head()

   class_Unharmed  class_Possible  class_Minor  class_Major  class_Fatal
2        0.059026        0.001156     0.000392     0.006370     0.933056
3        0.047536        0.005058     0.000589     0.534119     0.412697
7        0.979632        0.000764     0.000490     0.015284     0.003829
8        0.942916        0.000619     0.002883     0.006711     0.046871
9        0.177385        0.000685     0.210597     0.004106     0.607228

In [86]:
df_test.shape

(289671, 307)

In [90]:
row_id = np.arange(1, 289672)
row_id

array([     1,      2,      3, ..., 289669, 289670, 289671])

In [91]:
preds.set_index(row_id, inplace = True)

In [92]:
preds.head()

   class_Unharmed  class_Possible  class_Minor  class_Major  class_Fatal
1        0.059026        0.001156     0.000392     0.006370     0.933056
2        0.047536        0.005058     0.000589     0.534119     0.412697
3        0.979632        0.000764     0.000490     0.015284     0.003829
4        0.942916        0.000619     0.002883     0.006711     0.046871
5        0.177385        0.000685     0.210597     0.004106     0.607228

In [94]:
import datetime

# Generate prediction file name
team_name = 'YiLu'
date = datetime.datetime.now().strftime('%Y%m%d')
submission_number = 1
submission_name = f'{team_name}_{date}_{submission_number}.csv'
print(submission_name)

# Save
preds.to_csv(submission_name)

YiLu_20190118_1.csv

In [95]:
preds.to_csv(submission_name)

In [118]:
df_test.shape

(289671, 307)

In [123]:
# predict on checked dataset

In [125]:
preds_2 = pd.DataFrame(mod_lgb_1.predict(df_ck))
preds_2.head()

          0         1         2         3         4
0  0.000109  0.000048  0.000057  0.000024  0.999762
1  0.009974  0.013654  0.076427  0.274720  0.625226
2  0.018437  0.022453  0.112559  0.236298  0.610253
3  0.021786  0.078606  0.075987  0.101099  0.722521
4  0.215427  0.473658  0.145553  0.153516  0.011846

In [126]:
preds_2.set_index(row_id, inplace = True)

In [127]:
import datetime

# Generate prediction file name
team_name = 'YiLu'
date = datetime.datetime.now().strftime('%Y%m%d')
submission_number = 2
submission_name = f'{team_name}_{date}_{submission_number}.csv'
print(submission_name)

# Save
preds_2.to_csv(submission_name)

YiLu_20190118_2.csv